<% provide(:title, 'Assignments') %>
<h1>Assignments</h1>

<h3>Completed Assignments</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Due Date</th>
      <th>Assigned On</th>
      <th>Lesson</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @complete.each do |assignment| %>
    <%= render :partial => 'shared/assignments', :locals => {:assignment => assignment} %>
    <% end %>
  </tbody>
</table>
<br>
<h3>Incomplete Assignments</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Due Date</th>
      <th>Assigned On</th>
      <th>Lesson</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @incomplete.each do |assignment| %>
    <%= render :partial => 'shared/assignments', :locals => {:assignment => assignment} %>
    <% end %>
  </tbody>
</table>
