<% provide(:title, @user['name']) %>
<h1><%=@user['name']%></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Job Title</th>
      <th>Business Unit</th>
      <th>Department</th>
      <th>Location</th>
      <th>Hire Date</th>
      <th>Manager Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'user', :locals => {:user => @user} %>
  </tbody>
</table>
<br>
<h3>Assignments for <%=user['name']%></h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Due Date</th>
      <th>Assigned On</th>
      <th>Lesson</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
    <%= render :partial => 'shared/assignments', :locals => {:assignment => assignment} %>
    <% end %>
  </tbody>
</table>
