<% provide(:title, "Home") %>

<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Coursely is a dashboard built to consume an API with educational information.</h4>
        <h5>I hope to expand on it more and add in more RESTful functionality but feel free to click around
          the dashboard to explore the seed data!</h5>
        <h6><a href="https://github.com/mitchashby16/l_api">The code for the API</a></h6>
        <h6><a href="https://github.com/mitchashby16/coursely">The code for this app</a></h6>
        </select></h5>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
