<% provide(:title, @lesson['title']) %>
<h1><%=@lesson['title']%></h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Assignees Count</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'lesson', :locals => {:lesson => @lesson} %>
  </tbody>
</table>
<br>
<h3>Assignments for Lesson</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Due Date</th>
      <th>Assigned On</th>
      <th>Lesson</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
    <%= render :partial => 'shared/assignments', :locals => {:assignment => assignment} %>
    <% end %>
  </tbody>
</table>
