<% provide(:title, @course['title']) %>
<h1><%=@course['title']%></h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'course', :locals => {:course => @course} %>
  </tbody>
</table>
<br>
<h3>Assignments for Course</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Due Date</th>
      <th>Assigned On</th>
      <th>Lesson</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
    <%= render :partial => 'shared/assignments', :locals => {:assignment => assignment} %>
    <% end %>
  </tbody>
</table>
